<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head (title='Posts')" />
<body>

<nav th:replace="partials/fragments :: navbar" />

<div class="container mt-5">

    <form class="border border-light p-5" th:action="@{/posts/create}" action="#" th:object="${post}" method="post">

        <p class="h4 mb-4 text-center">Create Post</p>

        <label for="title">Title</label>
        <input type="text" id="title" class="form-control mb-4" th:field="*{title}" />

        <label for="body">Body</label>
        <textarea type="text" id="body" class="form-control md-textarea" rows="3" th:field="*{body}"></textarea>

        <input type="number" id="id" hidden="" th:field="*{id}" />

        <button class="btn btn-info btn-block my-4" type="submit" th:text="${id == null ? 'Create' : 'Edit'}" ></button>
    </form>

</div>

<footer th:replace="partials/fragments :: footer" />

<th:block th:fragment="partials/fragments :: bootstrapScripts" />

</body>
</html>