<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/fragments :: head (title='Post')" />
<body>

<nav th:replace="partials/fragments :: navbar" />

<div class="container mt-5">

    <div class="card">
        <h4 class="card-header d-flex justify-content-between">
            <a th:text="${post.title}"></a>
            <span th:text="${post.user.email}">Created by: </span>
        </h4>

        <!-- Card content -->
        <div class="card-body">
            <!-- Text -->
            <p class="card-text" th:text="${post.body}"></p>

            <form action="#" th:action="@{/posts/delete}" method="post">
                <input type="number" name="id" th:value="${post.id}" hidden="" />
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>

        </div>

    </div>

</div>

<footer th:replace="partials/fragments :: footer" />

<th:block th:fragment="partials/fragments :: bootstrapScripts" />

</body>
</html>